.promotion {
  background: #23272a;
  padding: 20px 16px;
  text-align: center;
}

.promotion p {
  font: 600 1.125rem/1.375 "Outfit", sans-serif;
  animation: promotion 1.2s linear infinite;
}

@keyframes promotion {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 16px 150px 16px;
}

.menu__main {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu__dd {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu__down {
  display: flex;
  gap: 10px;
}

.menuDetail {
  background: url("../../img/menuDetail.svg") no-repeat center;
  width: 10px;
  display: inline-block;
  margin-top: 2px;
}

@media (max-width: 900px) {
  .menu__dd {
    display: none;
  }

  .menu {
    padding-bottom: 75px;
  }
}
